
.main {
  min-height: 100vh;
}
.second {
  width: 800px;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}
.second h1 {
  display: flex;
  font-size: 22px;
  justify-content: center;
  padding-bottom: 10px;

}